.claude/
.vscode/
**/target/
!**/target/*.json
**/target/*-keypair.json
!**/target/*.ccs
!**/target/*.pk
!**/target/*.vk
**/node_modules/
**/keypair/
.DS_Store
.env
.env.*
*.log
dist/

# ZX circuit - client
circuits/payroll-backed-loan/client/package-lock.json
circuits/invoice_refactoring/client/package-lock.json
circuits/one/client/package-lock.json
circuits/smt_exclusion/client/package-lock.json
circuits/verify_signer/client/package-lock.json

circuits/payroll-backed-loan/client/pnpm-lock.yaml

# Solana deployer keypair
deployer-keypair.json