.claude/
.vscode/
**/target/
!**/target/*.json
**/target/*-keypair.json
!**/target/*.ccs
!**/target/*.pk
!**/target/*.vk
**/node_modules/
**/keypair/
.DS_Store
.env
*.log
dist/

# ZX circuit - client

# Solana deployer keypair
deployer-keypair.json

# Solana - Anchor
Anchor.toml

# Node modules
pnpm-lock.yaml
package-lock.json
bun.lock
yarn.lock