.claude/
.vscode/
**/target/
!**/target/*.json
**/target/*-keypair.json
!**/target/*.ccs
!**/target/*.pk
!**/target/*.vk
**/node_modules/
**/keypair/
.DS_Store
.env
*.log
dist/

# ZX circuit - client
client/package-lock.json

# Solana deployer keypair
deployer-keypair.json

# Node modules
pnpm-lock.yaml
client/pnpm-lock.yaml