# The Groth16 Verifier program ID (smart contract address), which is deployed using SunSpot, for the payroll-backed loan circuit
ZK_GROTH16_VERIFIER_PROGRAM_ID=""

# Reclaim Protocol Environment Variables for Payroll-Backed Loan Client
RECLAIM_APP_ID = ""
RECLAIM_APP_SECRET = ""
RECLAIM_PROVIDER_ID = ""